.container {
    display: grid;
    grid-template-columns:auto auto ;
    height: 400px;
    gap: 20px;
    padding: 50px;
    display: grid;
}
.box{
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.box1 {
    background-color: black;
    grid-column: 1/3;
}
.box2 {
    background-color: black;
    grid-column: 3/5;
}
.box3 {
    background-color: black;
    grid-column: 1/2;
}
.box4 {
    background-color: black;
    grid-column: 2/5;
}
.box5 {
    background-color:black ;
    grid-column: 1/5;
}